// Inspired by Halo Lab 🏀 https://dribbble.com/shots/15146797-Neon-Glass-Effect-Figma-Guide

$primary: #2700ff;

@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@700&display=swap&text=Pull%Focus');

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	
	font-size: 2em;
	font-family: 'Miriam Libre', sans-serif;
	
	background: #02020e;
	
	.bg-video {
		content: '';
		position: absolute;

		width: 100%;
		height: auto;
		min-height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			 content: "";
			 width: 100%;
			 padding-bottom: 56.25%;
			 display: block;
			 height: 0;
		}

		iframe {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1000%;
			height: 135%;
			transform: translate3d(-50%,-50%,0);
		}
	}
}

.button {
	position: relative;
	overflow: hidden;
	z-index: 1;
	cursor: pointer;
	min-width: 15ch;
	
	padding: 1em;
	
	background: url('http://api.thumbr.io/whitenoise-354x370.png?background=ffffff00&noise=ffffff&density=40&opacity=4'), rgba(white, 0.01);
	transition: 0.5s ease-in-out;
	transition-property: background, text-shadow;
	
	backdrop-filter: blur(0.333em);
	border-radius: 1em;
	
	font-family: inherit;
	text-align: center;
	letter-spacing: 0.05em;
	color: white;
	
	text-shadow:
		0 0.01em 0.2em rgba(#e3deff, 0.333),
		0 0.01em 0.5em rgba(#e3deff, 0.25),
	;
	box-shadow:
		inset 0 0.01em 0.4em rgba(#e3deff, 0.2),
		inset 0 0.04em 0.18em rgba(#9a92d2, 0.3),
		inset 0 0.98em 1em rgba(#caacff, 0.3),
		inset 0 -0.82em 0.68em -0.64em rgba(#604490, 0.3),
		inset 0 0.07em 0.11em -0.04em rgba(#fff, 1),
		inset 0 0.39em 0.56em -0.36em rgba(#fff, 0.5)
	;
	
	&:hover,
	&:focus {
		background: rgba($primary, 0.25);
		text-shadow:
			0 0.01em 0.2em rgba(lighten($primary, 32), 1),
			0 0.01em 1em rgba(lighten($primary, 32), 1),
		;
		
		&:before {
			transform: translate3d(100%, 0, 0) scale3d(1, 1, 1);
		}
	}
}